*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
     min-height: 100vh; 
    
    padding: 10px;
}
.todo-app{
    width: 100%;
   /* max-width:1000px;  */
    
    margin: 100px auto;
    padding:40px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
   padding-left: 20px;
   margin-bottom:25px ;

}
input{
    flex: 1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
   
}
.ajout{
    border: none;
    outline: none;
     padding: 16px 50px; 
    background: #002765;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
 ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    /* position: relative;
    width: 100%; */
} 
.info{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 15px;
    background-color: red;

}

.rouge{
    margin: 10px;
    width: 60px;
    background-color: red;
    border: none; 
   

}
.jaune{
    margin: 10px;
    width: 60px;
    border: none; 
    /* background-color: none; */
    background-color: yellow;


}
.vert{
    margin: 10px;
    width: 60px;
    border: none; 
    /* background-color: none; */
    background-color: green;

}
/* @media screen and(max-width :768){
    .ajout{
        position: relative;
        left: 100px;
    }
    
} */
 

